<html ng-app>
<head>
	<title>Demo</title>
	<script type="text/javascript" src="js/lib/angular.min.js"></script>
	<script type="text/javascript" src="js/controllers/app.js"></script>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap-responsive.min.css">
</head>
<body>
	<div class="container" ng-controller="AppCtrl">
		<h1>AngulAir</h1>
		<ul>
			<li ng-repeat="airport in airports">
			<a href="" ng-click="setAirport(airport.code)">{{airport.code}} - {{airport.city}}</a>
				</li>
		</ul>
		
		<p ng-show="currentAirport">Current airport: {{currentAirport.name}}</p>
	</div>
</body>
</html>