<html ng-app>
	<head>
		<title>Demo</title>
		<script type="text/javascript" src="js/angular.js"></script>
	</head>
	<body>
		<h1>Welcome {{name}}</h1>
		<input placeholder="type your name ..." ng-model="name" />
	</body>
</html>